<h2>
  <%= @user.username %>
  <% if @user.banned? %>
    <span class="label label-danger">Banned</span>
  <% end %></h2>

<% if current_user && current_user.admin? && current_user != @user %>
  <% if @user.banned? %>
    <%= link_to "Unban user", toggle_ban_user_path(@user.id), method: :post, class: "btn btn-primary" %>
    <% else %>
    <%= link_to "Ban user", toggle_ban_user_path(@user.id), method: :post, class: "btn btn-danger" %>
    <% end %>
<% end %>
<p>
  has made <%= pluralize(@user.ratings.count, 'rating') %>
</p>
<% if @user.favorite_beer or @user.favorite_style or @user.favorite_brewery %>
<p>Favorite</p>
  <% if @user.favorite_beer %>
    <p>beer: <%= @user.favorite_beer %></p>
  <% end %>
  <% if @user.favorite_style %>
    <p>style: <%= @user.favorite_style %></p>
  <% end %>
  <% if @user.favorite_brewery %>
    <p>brewery: <%= @user.favorite_brewery %></p>
  <% end %>
<% end %>

<% if !@user.beer_clubs.empty? %>
<p>member of 
  <% @user.beer_clubs.each do |club| %>
    <%= link_to club.name, club %>
  <% end %>
</p>
<%end%>

<h3>ratings</h3>
<ul>
  <% @user.ratings.each do |rating| %>
    <li> <%= rating %> 
      <% if @user == current_user %>
        <%= link_to "<span class=\"glyphicon glyphicon-remove\">delete</span>".html_safe, rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
  <%end%>
</ul>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-primary" %>
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
<% end %>
<%= link_to 'Back', users_path, class:"btn btn-default" %>
