<h2>
  <%= @user.username %>
  <% if @user.banned? %>
  <span class="label label-danger">Banned</span>
  <% end %>
</h2>

<% if current_user && current_user.admin? && current_user != @user %>
<% if @user.banned? %>
<%= link_to "Unban user", toggle_ban_user_path(@user.id), method: :post, class: "btn btn-primary" %>
<% else %>
<%= link_to "Ban user", toggle_ban_user_path(@user.id), method: :post, class: "btn btn-danger" %>
<% end %>
<% end %>
<p><i>
  has made <%= pluralize(@user.ratings.count, 'rating') %>
</i></p>

<div class="row">
  <% if @user.favorite_beer or @user.favorite_style or @user.favorite_brewery %>
  <div class="col-xs-6 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">Favorite</div>
      <div class="panel-body">
        <% if @user.favorite_beer %>
        <p><strong>Beer:</strong> <%= link_to @user.favorite_beer %></p>
        <% end %>
        <% if @user.favorite_style %>
        <p><strong>Style:</strong> <%= link_to @user.favorite_style %></p>
        <% end %>
        <% if @user.favorite_brewery %>
        <p><strong>Brewery:</strong> <%= link_to @user.favorite_brewery %></p>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
  <div class="col-xs-6 col-sm-6">
    <% if !@user.beer_clubs.empty? || !@user.applications.empty? %>
    <div class="panel panel-default">
      <div class="panel-heading">Beerclubs</div>
      <div class="panel-body">
        <strong>member of</strong>
        <ul>
          <% @user.beer_clubs.each do |club| %>
          <li><%= link_to club.name, club %></li>
          <% end %>
        </ul>

        <% if !@user.applications.empty? %>
        <strong>applied to</strong>
        <ul>
          <% @user.applications.each do |application| %>
          <li><%= link_to application.beer_club.name, application.beer_club %></li>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<% if !@user.ratings.empty? %>
<div class="row">
  <div class="col-xs-6 col-sm-6">
    <ul class="list-group">
      <li class="list-group-item list-group-item-title">Ratings</li>
      <% @user.ratings.each do |rating| %>
      <li class="list-group-item"> <span class="label label-<% case
                                      when rating.score>=40 %>success<%
                                      when rating.score>=30 %>info<%
                                      when rating.score>=20 %>primary<%
                                      when rating.score>=10 %>warning<%
                                      else %>danger<% end %> col-xs-1">
                                      <%= rating.score %></span>
        &nbsp;<%= link_to rating.beer.name, rating.beer %>
        <% if @user == current_user %>
        <span class="badge badge-delete"><%= link_to "delete", rating, method: :delete, data: { confirm: 'Are you sure?'}, class:"text-white" %></span>
        <% end %>
      </li>
      <%end%>
    </ul>
  </div>
</div>
<% end %>

<% if @user == current_user %>
<%= link_to 'Edit', edit_user_path(@user), class:"btn btn-primary" %>
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
<% end %>
<%= link_to 'Back', users_path, class:"btn btn-default" %>
