<h2>Rating statistics</h2>

<% cache 'ratings-cache', expires_in:5.minutes, skip_digest: true do %>
<p>Number of ratings: <%= @ratings.count %> </p>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">Best beers</div>
      <div class="panel-body">
        <%= render 'list', rated: @top_beers %>
      </div>
    </div>

  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">Best breweries</div>
      <div class="panel-body">
        <%= render 'list', rated: @top_breweries %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
  <div class="panel panel-default">
      <div class="panel-heading">Best styles</div>
      <div class="panel-body">
        <%= render 'list', rated: @top_styles %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Top users</div>
      <div class="panel-body">
        <%= render 'users_list', user: @top_users %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <ul class="list-group">
      <li class="list-group-item list-group-item-title">Recent ratings</li>
      <% @ratings.recent.each do |rating| %>
      <li class="list-group-item"> <span class="label label-<% case
                                      when rating.score>=40 %>success<%
                                      when rating.score>=30 %>info<%
                                      when rating.score>=20 %>primary<%
                                      when rating.score>=10 %>warning<%
                                      else %>danger<% end %> col-xs-1">
                                      <%= rating.score %></span>
        &nbsp;<%= link_to rating.beer.name, rating.beer %><%= link_to rating.user.username, rating.user, style:"float: right;"%></li>
      <%end%>
    </ul>
  </div>
</div>
<br />

<% end %>

<%= link_to('New Rating', new_rating_path, class:"btn btn-primary") if current_user %>