<p id="notice"><%= notice %></p>

<h2>Rating statistics</h2>

<p>Number of ratings: <%= @ratings.count %> </p>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">Best beers</div>
      <div class="panel-body">
        <%= render 'list', rated: @top_beers %>
      </div>
    </div>

  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">Best breweries</div>
      <div class="panel-body">
        <%= render 'list', rated: @top_breweries %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
  <div class="panel panel-default">
      <div class="panel-heading">Best styles</div>
      <div class="panel-body">
        <%= render 'list', rated: @top_styles %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Top users</div>
      <div class="panel-body">
        <%= render 'users_list', user: @top_users %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">


<h3>Recent ratings</h3>
<ul class="list-group">
  <% @ratings.recent.each do |rating| %>
    <li class="list-group-item"> <%= rating %> <%= link_to rating.user.username, rating.user %></li>
  <%end%>
</ul>
</div>
</div>
<br />

<%= link_to('New Rating', new_rating_path, class:"btn btn-primary") if current_user %>