<h1>Beer places search</h1>
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col">
<div class="form group">
  <%= form_tag places_path do %>
    <%= text_field_tag :city, params[:city], class:"form-control", placeholder:"City" %>
    <br />
    <%= submit_tag "Search", class:"btn btn-primary" %>
  <% end %>
</div>
</div>
</div>

<% if @weather %>
  <h4>Current weather in <%= @weather.city %></h4>
  <img src="<%= @weather.image %>" >
  <br />
  <div>
    <%= @weather.temperature %> &#8451;
  </div>
  <br />
  <div>
    <strong>wind:</strong>
      <%= @weather.wind_speed %> m/sec
      <%= @weather.wind_direction %>
    </div>
    <br />
<% end %>

<% if @places %>
  <table class="table table-hover">
    <thead>
        <td>Name</td>
        <td>Type</td>
        <td>Address</td>
        <td>Rating</td>
    </thead>
    <% @places.each do |place| %>
      <tr>  
        <td><%= link_to place.name, place_path(place.id) %></td>
        <td><%= place.status %></td>
        <td><%= place.street %>, <%= place.city %>, <%= place.country %></td>
        <td><%= place.overall %></td>
      </tr>
    <% end %>
  </table>
<% end %>